__pycache__/
*.py[cod]
.DS_Store
.venv/
venv/
data/*
!data/2wikimultihopqa/
!data/2wikimultihopqa/dev.json
!data/complexwebquestions/
!data/complexwebquestions/dev.json
data_aug/
outputs/
models/
*.log
